* {
	margin: 0;
	padding: 0;
  outline: none;
}

*, *::before, *::after {
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Gothic A1', Verdana, sans-serif;
}

@media (min-width: 2200px) {
  body {
    margin: 0 auto;
    max-width: 1900px;
  }
}