@import "~bootstrap/scss/bootstrap";
@import 'var';
@import 'mixin';
@import 'settings';

.custom-font-h {
  font-family: 'Raleway';
}

.header-b {
  border-top: 11px solid $primary-color;
  background-image: url('../_assets/img/bg-header.jpeg');
  background-size: cover;
}

.logo-b {
  font-family: 'Pacifico';

  &__dot {
    color: $primary-color;
  }
}

.icons-container-b {
  &__simple-icon-container {
    width: 54px;
    height: 54px;
    line-height: 54px;
    background-color: rgba(0,0,0,.5);

    &--medium-size {
      width: 35px;
      height: 35px;
      line-height: 35px;
    }

    &:hover {
      background-color: $primary-color;
    }
  }
}

.our-offer-b {
  &__img-container {
    width: 98px;
    height: 98px;
    line-height: 98px;
    background-color: $primary-color;
  }
}

.newsletter-form-b {
  max-width: 446px;

  &__send-form-btn {
    background-color: $primary-color !important;
  }
}

.testimonials-b {
  &__cite {
    font-style: normal;
  }
}

.newsletter-b,
.footer-b {
  background-color: $secondary-color;
}

.slick-testimonials-face-slider-b {
  .slick-slide {
    height:51px;

    img {
      height:51px;
    }
  }
}